
/* milky #c9c1ac */
/* red color #d3325f */



/* preloader */
.preloader{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: white;
    z-index: 100;
}

.hidePreloader{
    display: none !important;
}







.info{
    background: #e2c272;
}

.info h2{
    word-spacing: 0.6rem;
}

.info a{
    transition: color 2s ease-in-out;
}

.info a:hover{
    color: #0a88f0;
}

body{
    font-family: 'Mr Dafoe', cursive;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(img/index6-min.jpg) center/cover fixed no-repeat;
}

#cala{
    color:#E56399;
}

.primary-color{
    color:#0b2ce4;
}


/* ########################### header ##################### */

#header{
    min-height: calc(100vh - 94px);
    background: linear-gradient(rgba(0,0,0,0.5),rgba(15,0,0,0.5)),url(img/index-min.jpeg) center/cover fixed no-repeat;
    position: relative;
}

.height-90{
    min-height: (100vh - 94px);
}

.banner h1{
    border-top: 6px dotted #c9c1ac;
    border-bottom: 6px dotted #c9c1ac;
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 1s;
    opacity:0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.main-btn{
    color:#d3325f;
    font-size: 2rem;
    border:2px solid #d3325f;
    transition: all 1s ease-in-out;
}

.main-btn:hover{
    color:#242424;
    border: 2px solid #c9c1ac;
    background-color: #c9c1ac;
}

.sushi-btn{
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 1s;
    opacity:0;
    animation-fill-mode: forwards;

}


@keyframes fromRight{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.header-link{
    display: inline-block;
    position: absolute;
    bottom:3%;
    left:50%;
    background-color: #c9c1ac;
    border-radius: 10%;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover{
    color:#242424;
}

@keyframes fromBottom{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}





/* ########################################## navbar section ###################3 */

.navbar{
    background: #9be3de;
    padding:20px 20px;
    transition: all 1s ease;
}

.navbar-background{
    padding:5px 20px;
}

.navbar-brand{
    font-size: 1.8rem;
    transition: all 1s ease;
}

.navbar-brand:hover{
    color:#1eb2a6;
}

.nav-link{
    color:#527318;
    text-decoration: none;
    transition: all 2s ease;
    font-size: 1.3rem;
}

.nav-link:hover{
    color:#fd2eb3;
}

.nav-btn{
    background: #465881;
    color:#d3325f;
    border:solid 2px #d3325f;
    transition: all 2s ease;
    font-size: 1.3rem;
}

.nav-btn:hover{
    color:#8b2f97;
    border:2px solid #21bf73;
    transform: rotate(10deg);
    background: #fab696;
}

.toggler-btn{
    border:2px solid #d3325f;
    padding:5px;
    transition: all 2s ease;
}

.bar{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #f88020;
    transition: all 1s ease;
}

.bar1,
.bar2,
.bar3{
    width:25px;
    
}


.change .bar1{
    transform: rotate(-45deg) translate(-5px 6px);

}

.change .bar{
    opacity:0;
    
}

.change .bar3{
    transform: rotate(45deg) translate(-5px -8px);
    
}


/* ################################ menu items ##################### */

.item-container{
    position: relative;
    overflow: hidden;
    background:linear-gradient(rgb(236, 233, 233),rgb(0,0,0));
    transition: all 2s ease;
}

.item-img{
    transition: all 2s ease;

}

.item-container:hover .item-img{
    transform: scale(1.2);
    opacity: 0.8;
}

.item-link{
    position: absolute;
    top:10%;
    left:20%;
    transform: translate(-10%,-20%);
    color:#d3325f;
    font-size: 1.5rem;
    border-top:3px solid #d3325f ;
    border-bottom:3px solid #d3325f ;
    transition: all 2s ease;
    opacity: 0;
}

.item-container:hover .item-link{
    opacity: 1;
}

.item-link:hover{
    color:#d3325f;
    border:3px solid #d3325f;
    background-color: aqua;

}

.item-container:hover{
    outline:10px dotted #d3325f;
    outline-offset: 0.7rem;
}



/* ####################### menu section ##################### */

#menu{
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(img/index.jpeg)center/cover fixed no-repeat;
}

.special{
    border:3px solid #d3325f;
    position: relative;
}

.special-text{
    position: absolute;
    top:0;
    right: 10%;
    background: #d3325f;
    padding: 0 0.4rem;
}




/* ########################### about section ######################### */

.about-pictures{
    position: relative;
}

.about-image{
    position: absolute;
    width: 200px;
    transition: all 2s ease;
}

.img-1{
    left:0%;
    top:0%;
}

.img-2{
    left:40%;       
    top:45%;
    z-index: 10;
}

.img-3{
    left:20%;
    top:20%;
    z-index: 20;
}

.img-4{
    left:40%;
    top:0%;
}

.img-5{
    left:0%;
    top:45%;
}


.about-image:hover{
    outline: 5px solid #079db1;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover){
    opacity:0.5;

}




/* ################################## review section ############################## */



.review-item{
    background:rgba(255,255,255,0.7);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}
.review-img{
    width: 200px;
}





/* ############################################ team section ########################## */

.team-icons a{
    color:#3b5998;
    transition: all 1s ease-in-out;
}

.team-icons a:hover{
    color:#d3325f;
    transform: translateY(-8px);
}




/* ##################################### contact section ############################# */
.height-60{
    min-height: 60vh;
}




#contact .card{
    background: #fcf7bb;
    transition: all 2s ease;
}

#contact .card:hover{
    background: #ccf0e1;
}

#contact .card-header{
    color:yellowgreen;
}

#contact .input-group-text{
    background:yellowgreen;
    border-color: cyan;
    color:#d3325f;
}

#contact .card input{
    color:#606060;
}

.contact-btn{
    color:#d3325f;
    border-color: #d3325f;
    background: transparent;
    transition: all 2s ease-in-out;
}

.contact-btn:hover{
    background: yellowgreen;
    color:#d3325f;
    border-color: white;
}





/* ##################################### footer section ######################### */

#back-to-top{
    background: cyan;
    border-radius: 10px;
    display: inline-block;
}


.scrollTop{
    position: fixed;
    bottom:70px;
    right:10px;
}